<html xmlns:th="https://www.thymeleaf.org/">
  <head>
    <title>Appointment Register</title>
    <div th:replace="fragments/commonui :: header"></div>
    <style>
      .row {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>

    <div th:replace="fragments/commonui :: menu"></div>
    <div class="container">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h3>Appointment update</h3>
        </div>
        <div class="card-body">
          <form th:action="@{/appointment/update}" method="POST" id="app_form" th:object="${appointment}">

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <!-- rowForId -->

            <div class="row">
                <div class="col-2">
                  <label for="id">ID</label>
                </div>
                <div class="col-4">
                  <input
                    class="form-control"
                    type="text"
                    th:field="*{id}"
                    readonly
                  />
                </div>
                <div class="col-6">
                  <span id="idError"></span>
                </div>
              </div>
            <!-- row-1 -->
            <div class="row">
              <div class="col-2">
                <label for="doctor">Doctor Name</label>
              </div>
              <div class="col-4">
                <select class="form-control" id="doctor" name="doctor" th:field="*{doctor}">
                    <option value="">-SELECT-</option>
                    <option th:each="doc:${doctors}" th:value="${doc.key}" th:text="${doc.value}"></option>

                </select>
              </div>
              <div class="col-6">
                <span id="doctorError"></span>
              </div>
            </div>

            <!-- row-2 -->

            <div class="row">
                <div class="col-2">
                  <label for="date">Date</label>
                </div>
                <div class="col-4">
                  <input
                    class="form-control"
                    type="date"
                    th:field="*{date}"
                  />
                </div>
                <div class="col-6">
                  <span id="dateError"></span>
                </div>
              </div>

              <!-- row-3 -->

              <div class="row">
                <div class="col-2">
                  <label for="noOfSlots">No. of Slots</label>
                </div>
                <div class="col-4">
                  <input
                    class="form-control"
                    type="number"
                    th:field="*{noOfSlots}"
                  />
                </div>
                <div class="col-6">
                  <span id="noOfSlotsError"></span>
                </div>
              </div>

              <!-- row-4 -->

              <div class="row">
                <div class="col-2">
                  <label for="fee">Fee</label>
                </div>
                <div class="col-4">
                  <input
                    class="form-control"
                    type="text"
                    th:field="*{fee}"
                  />
                </div>
                <div class="col-6">
                  <span id="feeError"></span>
                </div>
              </div>

              <!-- row-5 -->

              <div class="row">
                <div class="col-2">
                  <label for="details">Details</label>
                </div>
                <div class="col-4">
                  <textarea
                    class="form-control"
                    type="text"
                    th:field="*{details}"
                  ></textarea>
                </div>
                <div class="col-6">
                  <span id="detailsError"></span>
                </div>
              </div>

              <button class="btn btn-primary" type="submit">
                update <i class="fa fa-plus-square" aria-hidden="true"></i>
              </button>


          </form>
        </div>
        
      </div>
    </div>
  </body>
</html>
