<html xmlns:th="https://www.thymeleaf.org/">
  <head>
    <title>Doctor Register</title>
    <div th:replace="fragments/commonui :: header"></div>
    <style>
      .row {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div th:replace="fragments/commonui :: menu"></div>
    <div class="container">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h3>Doctor Register</h3>
        </div>
        <div class="card-body">
          <form th:action="@{/doctor/save}" method="POST" id="doc_form">
            <!-- row-1 -->
            <div class="row">
              <div class="col-2">
                <label for="firstName">First Name</label>
              </div>
              <div class="col-4">
                <input
                  class="form-control"
                  type="text"
                  name="firstName"
                  id="firstName"
                />
              </div>
              <div class="col-6">
                <span id="firstNameError"></span>
              </div>
            </div>

            <!-- row-2 -->
            <div class="row">
              <div class="col-2">
                <label for="lastName">Last Name</label>
              </div>
              <div class="col-4">
                <input
                  class="form-control"
                  id="lastName"
                  name="lastName"
                  type="text"
                />
              </div>
              <div class="col-6">
                <span id="lastNameError"></span>
              </div>
            </div>

            <!-- row-for specializtions -->
            <div class="row">
              <div class="col-2">
                <label for="specialization">Specialization</label>
              </div>
              <div class="col-4">
                <select class="form-control" name="specialization.id" id="specialization">
                  <option value="">-SELECT-</option>
                  <option th:each="ob: ${specializations}" th:value="${ob.key}" th:text="${ob.value}"></option>
                </select>
              </div>
              <div class="col-6">
                <span id="specializationError"></span>
              </div>
            </div>

            <!-- row-3 -->
            <div class="row">
              <div class="col-2">
                <label for="email">Email</label>
              </div>
              <div class="col-4">
                <input
                  class="form-control"
                  type="email"
                  id="email"
                  name="email"
                />
              </div>
              <div class="col-6">
                <span id="emailError"></span>
              </div>
            </div>

            <!-- row for image -->
            <div class="row">
              <div class="col-2">
                <label for="image">Image</label>
              </div>
              <div class="col-4">
                <input type="file" name="image" id="image" onchange="upload()"> 
                <input hidden="true" name="photoLoc" id="photoLoc">
              </div>
              <div class="col-6">
                <span id="photoError"></span>
              </div>
              </div>

            <!-- row-4 -->
            <div class="row">
              <div class="col-2">
                <label for="address">Address</label>
              </div>
              <div class="col-4">
                <textarea
                  class="form-control"
                  name="address"
                  id="address"
                ></textarea>
              </div>
              <div class="col-6">
                <span id="addressError"></span>
              </div>
            </div>

            <!-- row-5 -->

            <div class="row">
              <div class="col-2">
                <label for="mobile">Mobile Number</label>
              </div>
              <div class="col-4">
                <input
                  class="form-control"
                  name="mobile"
                  id="mobile"
                  type="text"
                />
              </div>
              <div class="col-6">
                <span id="mobileError"></span>
              </div>
            </div>

            <!-- row-6  -->

            <div class="row">
              <div class="col-2">
                <label>Gender</label>
              </div>
              <div class="col-4">
                <input type="radio" name="gender" value="male" /> Male
                <input type="radio" name="gender" value="female" /> Female
              </div>
              <div class="col-6">
                <span id="genderError"></span>
              </div>
            </div>

            <!-- row-7 -->

            <div class="row">
              <div class="col-2">
                <label for="note">Notes</label>
              </div>
              <div class="col-4">
                <textarea class="form-control" name="note" id="note"></textarea>
              </div>
              <div class="col-6">
                <span id="noteError"></span>
              </div>
            </div>

            

            <button class="btn btn-primary" type="submit">
              Create <i class="fa fa-plus-square" aria-hidden="true"></i>
            </button>
          </form>
        </div>
        <div class="card-footer bg-info text-white" th:if="${message != null}">
          <span th:text="${message}"></span>
        </div>
      </div>
    </div>

    <script th:src="@{/myjs/doc_validate.js}"></script>
    <script th:src="@{/myjs/upload_file_ob.js}"></script>
  </body>
</html>
