<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Doctor Data</title>
    <div th:replace="fragments/commonui :: header"></div>
  </head>
  <body>

    <div th:replace="fragments/commonui :: menu"></div>
    <div class="container">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h3>Doctor Data</h3>
        </div>

        <div class="card-body">
          <a class="btn btn-primary text-white mb-1" th:href="@{/doctor/excel}"
            >Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i
          ></a>
          <div class="card mb-3" th:each="ob: ${list}">
            <div class="row">
              <div class="col-2">
                <img
                  th:src="@{${ob.photoLoc}}"
                  alt="${ob.photoLoc}"
                  border="0"
                  width="100"
                  height="100"
                  class="m-4"
                />
              </div>
              <div class="col-9">
                <div class="card-body">
                  <div class="row">
                    <!-- <h4><span th:text="${ob.firstName}"> </span>&nbsp;<span th:text="${ob.lastName}"></span></h4> -->
                    <h4>[[${ob.firstName+ ' ' +ob.lastName}]]</h4>
                  </div>
                  <div class="row">
                    <h5>[[${ob.specialization.specName}]]</h5>
                  </div>
                  <div class="row">
                    Mobile: <span th:text="${ob.mobile}"></span>| Email:
                    <span th:text="${ob.email}"></span>
                  </div>
                  <div class="row">
                    <p th:text="${ob.note}"></p>
                  </div>
                </div>
              </div>
              <div class="col-1">
                <div class="row my-2">
                  <a
                    class="btn btn-danger"
                    th:href="@{/doctor/delete(id=${ob.id})}"
                    >Delete</a
                  >
                </div>
                <div class="row">
                  <a
                    th:href="@{/doctor/edit(id=${ob.id})}"
                    class="btn btn-primary"
                    >Edit</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer bg-info text-white" th:if="${message != null}">
          <span th:text="${message}"></span>
        </div>
      </div>
    </div>
  </body>
</html>
