<html xmlns:th="https://www.thymeleaf.org/">
  <head>
    <div th:replace="fragments/commonui :: header"></div>
    <title>Patient Register</title>
    <style>
      .row {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div th:replace="fragments/commonui :: menu"></div>
    <div class="container">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h3>Patient Register</h3>
        </div>
        <div class="card-body">
          <form th:action="@{/patient/save}" method="POST" id="pat_form">

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <!-- row-1 -->
            <div class="row">
              <div class="col-2">
                <label for="firstName">First Name</label>
              </div>
              <div class="col-4">
                <input
                  class="form-control"
                  type="text"
                  name="firstName"
                  id="firstName"
                />
              </div>
              <div class="col-6">
                <span id="firstNameError"></span>
              </div>
            </div>

            <!-- row-2 -->

            <div class="row">
              <div class="col-2">
                <label for="lastName">Last Name</label>
              </div>
              <div class="col-4">
                <input
                  class="form-control"
                  type="text"
                  name="lastName"
                  id="lastName"
                />
              </div>
              <div class="col-6">
                <span id="lastNameError"></span>
              </div>
            </div>

            <!-- row-3 -->

            <div class="row">
              <div class="col-2">
                <label for="gender">Gender</label>
              </div>
              <div class="col-4">
                <select class="form-control" name="gender" id="gender">
                  <option value="">-SELECT-</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="col-6">
                <span id="genderError"></span>
              </div>
            </div>

            <!-- row-4 -->

            <div class="row">
              <div class="col-2">
                <label for="mobile">Mobile Number</label>
              </div>
              <div class="col-4">
                <input
                  class="form-control"
                  type="text"
                  name="mobile"
                  id="mobile"
                />
              </div>
              <div class="col-6">
                <span id="mobileError"></span>
              </div>
            </div>


            <div class="row">
              <div class="col-2">
                <label for="email">Email</label>
              </div>
              <div class="col-4">
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  id="email"
                />
              </div>
              <div class="col-6">
                <span id="emailError"></span>
              </div>
            </div>

            <!-- row-5 -->
            <div class="row">
              <div class="col-2">
                <label for="dateOfBirth">Date of Birth</label>
              </div>
              <div class="col-4">
                <input
                  class="form-control datepicker"
                  type="text"
                  name="dateOfBirth"
                  id="dateOfBirth"
                  autocomplete="off"
                  readonly
                />
              </div>
              <div class="col-6">
                <span id="dateOfBirthError"></span>
              </div>
            </div>

            <!-- row-6 -->

            <div class="row">
              <div class="col-2">
                <label>Martial Status</label>
              </div>
              <div class="col-4">
                <div class="row">
                  <div class="col-6">
                    <input
                      type="radio"
                      name="martialStatus"
                      id="martialStatus1"
                      value="unmarried"
                    />
                    Unmarried
                  </div>
                  <div class="col-6">
                    <input
                      type="radio"
                      name="martialStatus"
                      id="martialStatus2"
                      value="married"
                    />
                    Married
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <input
                      type="radio"
                      name="martialStatus"
                      id="martialStatus3"
                      value="divorced"
                    />
                    Divorced
                  </div>

                  <div class="col-6">
                    <input
                      type="radio"
                      name="martialStatus"
                      id="martialStatus4"
                      value="separated"
                    />
                    Separated
                  </div>
                </div>
              </div>
              <div class="col-6">
                <span id="martialStatusError"></span>
              </div>
            </div>

            <!-- row-7 -->

            <div class="row">
              <div class="col-2">
                <label for="presentAddress">Present Address</label>
              </div>
              <div class="col-4">
                <textarea
                  class="form-control"
                  name="presentAddress"
                  id="presentAddress"
                ></textarea>
              </div>
              <div class="col-6">
                <span id="presentAddressError"></span>
              </div>
            </div>
If Present and communication address are same <input type="checkbox" id="address">
            <!-- row-8 -->

            <div class="row">
              <div class="col-2">
                <label for="communicationAddress">Communication Address</label>
              </div>
              <div class="col-4">
                <textarea
                  class="form-control"
                  name="communicationAddress"
                  id="communicationAddress"
                ></textarea>
              </div>
              <div class="col-6">
                <span id="communicationAddressError"></span>
              </div>
            </div>

            <!-- row-9 -->

            <div class="row">
              <div class="col-2">
                <label>Medical History</label>
              </div>

              <div class="col-4">
                <div class="row my-0">
                  <div class="col">
                    <input
                      type="checkbox"
                      name="mediHistory"
                      id="mediHistory1"
                      value="Cancer"
                    />
                    Cancer

                    <input
                      type="checkbox"
                      name="mediHistory"
                      id="mediHistory2"
                      value="Diabetes"
                    />
                    Diabetes

                    <input
                      type="checkbox"
                      name="mediHistory"
                      id="mediHistory3"
                      value="Fever"
                    />
                    Fever

                    <input
                      type="checkbox"
                      name="mediHistory"
                      id="mediHistory4"
                      value="Bp"
                    />
                    BP
                  </div>
                </div>

                <input
                  type="checkbox"
                  name="mediHistory"
                  id="mediHistory5"
                  value="pneumonia"
                />
                Pneumonia

                <input
                  type="checkbox"
                  name="mediHistory"
                  id="mediHistory6"
                  value="HeartStroke"
                />
                Heart Stroke
                <div class="row">
                  <div class="col-3">
                    <input
                      type="checkbox"
                      name="mediHistory"
                      id="mediHistory7"
                      value="other"
                    />
                    Other
                  </div>
                  <div class="col-9">
                    <input
                      class="form-control"
                      type="text"
                      name="ifOther"
                      id="ifOther"
                    />
                  </div>
                </div>
              </div>
              <div class="col-6">
                <span id="mediHistoryError"></span>
              </div>
            </div>

            <div class="row">
              <div class="col-2">
                <label for="note">Comments</label>
              </div>
              <div class="col-4">
                <textarea
                  class="form-control"
                  type="text"
                  name="note"
                  id="note"
                ></textarea>
              </div>
              <div class="col-6">
                <span id="noteError"></span>
              </div>
            </div>

            <button class="btn btn-primary" type="submit">
              Create <i class="fa fa-plus-square" aria-hidden="true"></i>
            </button>
          </form>
        </div>
        <div class="card-footer bg-info text-white" th:if="${message != null}">
          <span th:text="${message}"></span>
        </div>
      </div>
    </div>

    <script th:src="@{/myjs/pat_validate.js}"></script>
  </body>
</html>
