<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Patient Data</title>
    <div th:replace="fragments/commonui :: header"></div>
  </head>

  <body>
    <div th:replace="fragments/commonui :: menu"></div>
      <div class="container-fluid">
          <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h3>Patient Data</h3>
              </div>
          </div>
          <div class="card-body">
            <table class="table table-hover">
                <tr class="bg-secondary text-white">
                  <th>ID</th>
                  <th>NAME</th>
                  <th>GENDER</th>
                  <th>DOB</th>
                  <th>MARTIAL_STATUS</th>
                  <th>EMAIL</th>
                  <th>MOBILE</th>
                  <th>Medical History</th>
                  <th>OPERATIONS</th>
                </tr>
                <tr th:each="ob:${patients}">
                  <td th:text="${ob.id}"></td>
                  <td>[[${ob.firstName+ ' '+ob.lastName}]]</td>
                  <td>[[${ob.gender}]]</td>
                  <td>[[${ob.dateOfBirth}]]</td>
                  <td>[[${ob.martialStatus}]]</td>
                  <td>[[${ob.email}]]</td>
                  <td>[[${ob.mobile}]]</td>
                  <td><span th:each="hist:${ob.mediHistory}">
                      <span th:unless="${hist == 'other'}">[[${hist}]], </span>
                      <span th:if="${hist == 'other'}">[[${ob.ifOther}]], </span>
                </span></td>
                  <td>
                    <a
                      class="btn btn-danger btn-sm"
                      th:href="@{/patient/delete(id=${ob.id})}"
                    >
                      Delete <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
    
                    <a
                      class="btn btn-info btn-sm"
                      th:href="@{/patient/edit(id=${ob.id})}"
                    >
                      Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
              </table>
          </div>
          <div class="card-footer bg-info text-white" th:if="${message != null}">
            <span th:text="${message}"></span>
          </div>
      </div>
  </body>


  </html>