<html xmlns:th="https://www.thymeleaf.org/">
  <head>
    <title>Specialization Data</title>
    <div th:replace="fragments/commonui :: header"></div>
  </head>
  <body>
    <div th:replace="fragments/commonui :: menu"></div>
    <div class="container-fluid">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h3>Specialization Data</h3>
        </div>
        
        <div class="card-body">
          <a class="btn btn-info text-white mb-1" th:href="@{/spec/excel}">Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
          <table class="table table-hover">
            <tr class="bg-secondary text-white">
              <th class="col-1">ID</th>
              <th class="col-1">CODE</th>
              <th class="col-2">NAME</th>
              <th class="col-6">NOTE</th>
              <th class="col-2">OPERATIONS</th>
            </tr>
            <tr th:each="ob:${allSpec}">
              <td th:text="${ob.id}"></td>
              <td th:text="${ob.specCode}"></td>
              <td th:text="${ob.specName}"></td>
              <td th:text="${ob.specNote}"></td>
              <td>
                <a
                  class="btn btn-danger btn-sm"
                  th:href="@{/spec/delete(id=${ob.id})}"
                >
                  Delete <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>

                <a
                  class="btn btn-info btn-sm"
                  th:href="@{/spec/edit(id=${ob.id})}"
                >
                  Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </table>
        </div>
        <div class="card-footer bg-info text-white" th:if="${message != null}">
          <span th:text="${message}"></span>
        </div>
      </div>
    </div>
  </body>
</html>
