<html xmlns:th="https://www.thymeleaf.org/">
  <head>
    <title>Specialization Data</title>
    <div th:replace="fragments/commonui :: header"></div>
  </head>
  <body>
    <div th:replace="fragments/commonui :: menu"></div>
    <div class="container-fluid">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h3>Specialization Data</h3>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <a class="btn btn-info text-white mb-1" th:href="@{/spec/excel}"
                >Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i
              ></a>
              |
              <a class="btn btn-success text-white mb-1" th:href="@{/spec/pdf}"
                >PDF <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              </a>
            </div>
            <div class="col-3">
              <select class="form-control" id="pageSize">
                <option value="0">Select</option>
                <option th:each="i: ${#numbers.sequence(1, 7)}" th:value="${i}">
                  [[${i}]]
                </option>
              </select>
            </div>
          </div>
          <table class="table table-hover">
            <tr class="bg-secondary text-white">
              <th class="col-1">ID</th>
              <th class="col-1">CODE</th>
              <th class="col-2">NAME</th>
              <th class="col-6">NOTE</th>
              <th class="col-2">OPERATIONS</th>
            </tr>
            <tr th:each="ob:${allSpec}">
              <td th:text="${ob.id}"></td>
              <td th:text="${ob.specCode}"></td>
              <td th:text="${ob.specName}"></td>
              <td th:text="${ob.specNote}"></td>
              <td>
                <a
                  class="btn btn-danger btn-sm"
                  th:href="@{/spec/delete(id=${ob.id})}"
                >
                  Delete <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>

                <a
                  class="btn btn-info btn-sm"
                  th:href="@{/spec/edit(id=${ob.id})}"
                >
                  Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </table>

          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item" th:if="${!page.isFirst()}">
                <a class="page-link" th:href="@{/spec/all(page=0)}">First</a>
              </li>
              <li class="page-item" th:if="${page.hasPrevious()}">
                <a
                  class="page-link"
                  th:href="@{/spec/all(page=${page.number-1})}"
                  >Previous</a
                >
              </li>
              <th:block th:each="i: ${#numbers.sequence(0,page.totalPages-1)}">
                <li class="page-item active" th:if="${page.number == i}">
                  <a class="page-link" th:href="@{/spec/all(page=${i})}"
                    >[[${i+1}]]</a
                  >
                </li>
                <li class="page-item" th:unless="${page.number == i}">
                  <a class="page-link" th:href="@{/spec/all(page=${i})}"
                    >[[${i+1}]]</a
                  >
                </li>
              </th:block>
              <li class="page-item" th:if="${page.hasNext()}">
                <a
                  class="page-link"
                  th:href="@{/spec/all(page=${page.number+1})}"
                  >Next</a
                >
              </li>

              <li class="page-item" th:if="${!page.isLast()}">
                <a
                  class="page-link"
                  th:href="@{/spec/all(page=${page.totalPages-1})}"
                  >Last</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="card-footer bg-info text-white" th:if="${message != null}">
          <span th:text="${message}"></span>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("#pageSize").change(function () {
          var size = this.value;
          console.log(size);
          window.location.href = "/spec/all?sizeAtRuntime=" + size;
        });
      });
    </script>
  </body>
</html>
